ol {
    background-color: yellow;
}

ol li:nth-of-type(1) {
    text-transform: capitalize;
}

ol li:nth-of-type(2) {
    color:green;
}

ol li:nth-of-type(3) {
    text-transform: capitalize;
}

ol li:nth-of-type(4) {
    color:green;
}

ol li:nth-of-type(5) {
    text-transform: capitalize;
}

h1, h2, h3 {
    color: red;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}





